<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners><listener class-name="Listener.TestListener"/></listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="SurveySolution.SurveySolution_Testcase">
      <methods>
      <include name="SSQPad_01" />
     <!--  <include name="SSQPad_02" /> -->
      <include name="SSQPad_03" />
      <include name="SSQPad_04" />
      <include name="SSQPad_05" />
      <include name="SSQPad_06" />
      <include name="SSQPad_07" />
      <include name="SSQPad_08" />
      <include name="SSQPad_09" />
      <include name="SSQPad_13" />
      <include name="SSQPad_14" />
      <include name="SSQPad_15" />
      <include name="SSQPad_16" />
      <include name="SSQPad_17" />
      <include name="SSQPad_18" />
      <include name="SSQPad_19" />
      <include name="SSQPad_20" />
      <include name="SSQPad_21" />
      <include name="SSQPad_22" />
      <include name="SSQPad_23" />
      <include name="SSQPad_24" />
      <include name="SSQPad_25" />
      <include name="SSQPad_26" />
      <include name="SSQPad_27" />      
      <include name="SSQPad_28" />
      <include name="SSQPad_29" />
      <include name="SSQPad_30" />
      <include name="SSQPad_31" />
      <include name="SSQPad_32" />
      <include name="SSQPad_33" />
      <include name="SSQPad_34" />
      <include name="SSQPad_35" />
      <include name="SSQPad_36" />
      <include name="SSQPad_37" />
      <include name="SSQPad_38" />      
      <include name="SSQPad_39" />
      <include name="SSQPad_40" />
      <include name="SSQPad_41" />
      <include name="SSQPad_42" />
      <include name="SSQPad_43" />
      <include name="SSQPad_44" />      
      <include name="SSQPad_45" />
      <include name="SSQPad_46" />
      <include name="SSQPad_47" />
      <include name="SSQPad_48" />
      <include name="SSQPad_49" />
      <include name="SSQPad_50" />
      <include name="SSQPad_51" />
      <include name="SSQPad_52" />
      <include name="SSQPad_53" />
      <include name="SSQPad_54" />
      <include name="SSQPad_55" />
      <include name="SSQPad_56" />
      <include name="SSQPad_57" />
      <include name="SSQPad_58" />
      <include name="SSQPad_59" />      
      <include name="SSQPad_60" />
      <include name="SSQPad_61" />
      <include name="SSQPad_62" />
      <include name="SSQPad_63" />
      <include name="SSQPad_64" />      
      <include name="SSQPad_65" />
      <include name="SSQPad_66" />      
      <include name="SSQPad_67" />
      <include name="SSQPad_68" />
      <include name="SSQPad_69" />     
      <include name="SSQPad_70" />
      <include name="SSQPad_71" />
      <include name="SSQPad_72" />
      <include name="SSQPad_73" />
      <include name="SSQPad_74" />
      <include name="SSQPad_75" />
      <include name="SSQPad_76" />      
      <include name="SSQPad_77" />
      <include name="SSQPad_78" />
      <include name="SSQPad_79" />
      <include name="SSQPad_80" />
      <include name="SSQPad_81" />
      <include name="SSQPad_82" />
      <include name="SSQPad_83" />
      <include name="SSQPad_84" />
      <include name="SSQPad_85" />
      <include name="SSQPad_86" />
      <include name="SSQPad_87" />
      <include name="SSQPad_88" />
      <include name="SSQPad_89" />
      <include name="SSQPad_90" />
      <include name="SSQPad_91" />
      <include name="SSQPad_92" />
      <include name="SSQPad_93" />
      <include name="SSQPad_94" />
      <include name="SSQPad_95" />
      <include name="SSQPad_96" />
      <include name="SSQPad_97" />
      <include name="SSQPad_98" />
      <include name="SSQPad_99" />
      <include name="SSQPad_100" />
      <include name="SSQPad_101" />
      <include name="SSQPad_102" />
      <include name="SSQPad_103" />
      <include name="SSQPad_104" />
      <include name="SSQPad_105" />
      <include name="SSQPad_106" />
      <include name="SSQPad_107" />
      <include name="SSQPad_108" />
      <include name="SSQPad_109" />
      <include name="SSQPad_113" />
      <include name="SSQPad_114" />
      <include name="SSQPad_115" />
      <include name="SSQPad_116" />
      <include name="SSQPad_117" />
      <include name="SSQPad_118" />
      <include name="SSQPad_119" />
      <include name="SSQPad_120" />
      <include name="SSQPad_121" />
      <include name="SSQPad_122" />
      <include name="SSQPad_123" />
      <include name="SSQPad_124" />
      <include name="SSQPad_125" />
      <include name="SSQPad_126" />
      <include name="SSQPad_127" />      
      <include name="SSQPad_128" />
      <include name="SSQPad_129" />
      <include name="SSQPad_130" />
      <include name="SSQPad_131" />
      <include name="SSQPad_132" />
      <include name="SSQPad_133" />
      <include name="SSQPad_134" />
      <include name="SSQPad_135" />
      <include name="SSQPad_136" />
      <include name="SSQPad_137" />
      <include name="SSQPad_138" />      
      <include name="SSQPad_139" />
      <include name="SSQPad_140" />
      <include name="SSQPad_141" />
      <include name="SSQPad_142" />
      <include name="SSQPad_143" />
      <include name="SSQPad_144" />      
      <include name="SSQPad_145" />
      <include name="SSQPad_146" />
      <include name="SSQPad_147" />
      <include name="SSQPad_148" />
      <include name="SSQPad_149" />
      <include name="SSQPad_150" />
      <include name="SSQPad_154" />
      <include name="SSQPad_155" />
      <include name="SSQPad_156" />
      <include name="SSQPad_157" />
      <include name="SSQPad_158" />
      <include name="SSQPad_159" />      
      <include name="SSQPad_160" />
      <include name="SSQPad_161" />
      <include name="SSQPad_162" />
      <include name="SSQPad_163" />
      <include name="SSQPad_164" />      
      <include name="SSQPad_165" />
      <include name="SSQPad_166" />      
      <include name="SSQPad_167" />
      <include name="SSQPad_168" />
      <include name="SSQPad_169" />     
      <include name="SSQPad_170" />
      <include name="SSQPad_171" />
      <include name="SSQPad_172" />
      <include name="SSQPad_173" />
      <include name="SSQPad_174" />
      <include name="SSQPad_175" />
      <include name="SSQPad_176" />      
      <include name="SSQPad_177" />
      <include name="SSQPad_178" />
      <include name="SSQPad_179" />
      <include name="SSQPad_180" />
      <include name="SSQPad_181" />
      <include name="SSQPad_182" />
      <include name="SSQPad_183" />
      <include name="SSQPad_184" />
      <include name="SSQPad_185" />
      <include name="SSQPad_186" />
      <include name="SSQPad_187" />
      <include name="SSQPad_188" />
      <include name="SSQPad_189" />
      <include name="SSQPad_190" />
      <include name="SSQPad_191" />
      <include name="SSQPad_192" />
      <include name="SSQPad_193" />
      <include name="SSQPad_194" />
      <include name="SSQPad_195" />
      <include name="SSQPad_196" />
      <include name="SSQPad_197" />
      <include name="SSQPad_198" />
      <include name="SSQPad_199" />
      <include name="SSQPad_200" />
      <include name="SSQPad_201" />
      <include name="SSQPad_202" />
      <include name="SSQPad_203" />
      <include name="SSQPad_204" />
      <include name="SSQPad_205" />
      <include name="SSQPad_206" />
      <include name="SSQPad_207" />
      <include name="SSQPad_208" />
      <include name="SSQPad_209" />
      <include name="SSQPad_210" />
      <include name="SSQPad_211" />
      <include name="SSQPad_212" />
      <include name="SSQPad_213" />
      <include name="SSQPad_214" />
      <include name="SSQPad_218" />
      <include name="SSQPad_219" />
      <include name="SSQPad_220" />
      <include name="SSQPad_221" />
      <include name="SSQPad_222" />
      <include name="SSQPad_223" />
      <include name="SSQPad_224" />
      <include name="SSQPad_225" />
      <include name="SSQPad_226" />
      <include name="SSQPad_227" />      
      <include name="SSQPad_228" />
      <include name="SSQPad_229" />
      <include name="SSQPad_230" />
      <include name="SSQPad_231" />
      <include name="SSQPad_232" />
      <include name="SSQPad_233" />
      <include name="SSQPad_234" />
      <include name="SSQPad_235" />
      <include name="SSQPad_236" />
      <include name="SSQPad_237" />     
      <include name="SSQPad_239" />
      <include name="SSQPad_240" />
      <include name="SSQPad_241" />
      <include name="SSQPad_242" />
      <include name="SSQPad_243" />
      <include name="SSQPad_244" />      
      </methods>
      
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
